<% layout("/layout/boilerplate") %>

<style>

    #tax-info{
        display: none;
    }


</style>
<body>
    

    <div class="row mt-3 row-cols-lg-4 row-cols-md-3  row-cols-sm-3" >

        <% for(let list of allListings){ %>
            <a href="/listings/<%= list._id %>" class="listing-link">

                <div class="card listing-card">
                    <img src="<%= list.image.url%>" class="card-img-top" style="height: 20rem;"  alt="...">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                       <b> <%= list.title %> </b>
                        <br>
                        &#8377; <%= list.price.toLocaleString("en-IN") %> /night
                        <i id="tax-info">+ 18%GST</i>
                      </p>
                    </div>
                </div>

            </a>
           
            <% } %>

    </div>
    

    
</body>
