<% layout("/layout/boilerplate") %>

<div class="row mt-3">

    <h4 class="col-6 offset-3">Signup on Wanderlust</h4>

    <div class="col-6 offset-3">

        <form action="/signup" class="needs-validation" novalidate method="post">

            <div>
                <label for="username" class="form-label" >Username</label>
                <input required id="username" name="username" type="text" class="form-control">
                <div class="valid-feedback">Looks good</div>
            </div>

            <div>
                <label for="email" class="form-label" >Email</label>
                <input name="email" id="email" type="email" class="form-control" required>

            </div>

            <div>
                <label for="password" class="form-label" >Password</label>
                <input name="password" id="password" type="password" class="form-control" required>
                
            </div>

            <button class="btn btn-dark mt-3">Signup</button>

        </form>

    </div>

</div>